.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #fff;
  font-family: sans-serif;
}
.logo-image{
    height: 44px; 
    width: auto;

}


.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.register-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #1d4ed8;
}



.hero {
    height: 786px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero h1 {
    font-size: 80px;
    margin-bottom: 24px;
    width: 959px;
}    
.hero p {
    font-size: 20px;
    width: 829px;
    margin-bottom: 48px;
    line-height: 1.6;
}
.hero .register-btn {
    padding: 16px 48px;
    font-size: 18px;
    font-weight: bold;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero .register-btn:hover {
    background-color: #1d4ed8;
}